@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin add-gradient-text {
  color: transparent;
  background: $gradient-default;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin heading {
  grid-column: 1 / 3;
  font-family: $ff-unbounded;
  font-size: 3.34rem;
  font-weight: 300;

  @include add-gradient-text;

  @media screen and (max-width: 992px) {
    font-size: 2.5rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 2rem;
  }
}

@mixin default-grid {
  display: grid;
  grid-template-columns: 27% 1fr 15.2% 19.2%;

  @media screen and (max-width: 1200px) {
    grid-template-columns: 23% 1fr 10% 24.4%;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}
