.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem 0 0;
  background: url("../img/header-background.jpg") no-repeat center center;
  background-size: 100% 100%;
  animation: zoom 40s infinite;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-background@2x.jpg");
  }
}

.header__container {
  outline: 2px solid $color-basic-white;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.header__about {
  display: flex;
  align-items: center;
  gap: 3.6rem;
  padding: 0 3.4rem 0 2rem;
  box-shadow: -2px 0 0 0 $color-basic-white inset;
}

.header__logo {
  flex: 0 0 auto;
}

@keyframes zoom {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 120% 120%;
  }

  100% {
    background-size: 100% 100%;
  }
}
