.promo {
  padding: 14rem 0 5rem;

  @media screen and (max-width: 1200px) {
    padding-top: 10rem;
  }

  @media screen and (max-width: 768px) {
    padding: 4.5rem 0 4.1rem;
  }
}

.promo__container {
  @include default-grid;
}

.promo__hi {
  margin: 0 0 4.2rem;
  display: flex;
  align-items: center;
  grid-column: 1 / 2;
  gap: 1.6rem;

  @media screen and (max-width: 992px) {
    grid-column: 1 / -1;
  }

  @media screen and (max-width: 768px) {
    grid-column: 2 / 3;
    gap: 0.5rem;
    justify-self: end;
  }
}

.promo__hi-text {
  @include add-gradient-text;
}

.promo__heading {
  margin: 0;

  @include heading;

  @media screen and (max-width: 768px) {
    margin: 0 0 4.25rem;
  }
}

.promo__heading-postscript {
  display: inline-block;
  width: 17rem;
  font-weight: 400;
  font-size: 1rem;
  color: $color-basic-white;
  -webkit-text-fill-color: initial;

  @media screen and (max-width: 992px) {
    font-size: 0.8rem;
    width: 13rem;
  }
}

.promo__text {
  width: 90%;
  margin: 0;
  grid-column: -2 / -1;

  @include add-gradient-text;

  svg {
    margin: 0 0 1.25rem;
    display: block;
    animation: rotate 5s linear infinite;
  }

  @media screen and (max-width: 1200px) {
    width: auto;
  }

  @media screen and (max-width: 992px) {
    grid-column: -3 / -1;
    margin-left: 1rem;
  }

  @media screen and (max-width: 768px) {
    margin: 0;
    width: 64%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}
